openapi: '3.1.0'
info:
  title: Blindlog API server
  version: 1.0.0
servers:
  - url: https://api.blindlog.me
    description: Blindlog API server
paths:
  /.well-known/apple-app-site-association:
    get:
      operationId: getAppleAppSiteAssociation
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /challenge:
    post:
      operationId: generateChallenge
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: string
                format: binary
  /user:
    post:
      operationId: createUser
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
  /refreshToken:
    post:
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                refreshToken:
                  type: string
                  description: User refresh token.
              required:
                - refreshToken
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
  /me:
    get:
      operationId: getMe
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users:
    get:
      operationId: getUsers
      parameters:
        - name: ids
          in: query
          description: ID of user to return
          required: true
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
components:
  schemas:
    UserToken:
      type: object
      description: A value with the User contents.
      properties:
        id:
          type: string
          format: uuid
          description: User id.
        token:
          type: string
          description: User token.
        refreshToken:
          type: string
          description: User refresh token.
      required:
        - id
        - token
        - refreshToken
    User:
      type: object
      description: A value with the User contents.
      properties:
        id:
          type: string
          format: uuid
          description: User id.
      required:
        - id
    AppleAppSiteAssociation:
      type: object
      description: A value with the User contents.
      properties:
        webcredentials:
          $ref: '#/components/schemas/WebCredentials'
          description: User id.
        appclips:
          $ref: '#/components/schemas/AppClips'
          description: User id.
        applinks:
          $ref: '#/components/schemas/AppLinks'
          description: User id.
    WebCredentials:
      type: object
      description: A value with the User contents.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App ID ex) xxxx.com.apple.note.
    AppClips:
      type: object
      description: A value with the User contents.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App ID ex) xxxx.com.apple.note.
    AppLinks:
      type: object
      description: A value with the User contents.
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/AppLinkDetail'
    AppLinkDetail:
      type: object
      description: A value with the User contents.
      properties:
        appIdDs:
          type: array
          items:
            type: string
            description: User id.
        components:
          type: array
          items:
            type: string
            description: User id.
