.DS_Store
/.build
/.swiftpm
/.devContainer
/Packages
/*.xcodeproj
xcuserdata/
/.vscode/*
.env.*
.env
DerivedData

# Terraform
**/.terraform/
**/terraform.tfvars
**/*.tfstate
**/*.tfstate.*
.agents
.claude
.derived-data-log-0CA5RPJ1
dump.rdb
