.DS_Store
/.build
/.swiftpm
/.devContainer
/Packages
/*.xcodeproj
xcuserdata/
/.vscode/*
.env.*
.env
DerivedData

# Terraform
**/.terraform/
**/terraform.tfvars
**/*.tfstate
**/*.tfstate.*

## AI Agents
.agents
.claude

## Xcode Temporary File
.derived-data-log-*

## Postgres Temporary File
dump.rdb
