openapi: '3.1.0'
info:
  title: Blindlog API server
  version: 1.0.0
servers:
  - url: https://api.blindlog.me
    description: Blindlog API server
paths:
  /health:
    get:
      operationId: getHealth
      responses:
        '200':
          description: A success response indicating the server is healthy.
  /.well-known/apple-app-site-association:
    get:
      operationId: getAppleAppSiteAssociation
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /challenge:
    post:
      operationId: createChallenge
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: string
                contentEncoding: base64
        '400':
          description: A bad request
  /passkey:
    post:
      operationId: addPasskey
      security:
        - bearerAuth: []
      parameters:
        - name: challenge
          in: query
          description: Base64URL-encoded challenge returned by `/challenge`.
          required: true
          schema:
            type: string
            contentEncoding: base64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPasskey'
      responses:
        '200':
          description: A success response with a user.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /user:
    post:
      operationId: createUser
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
  /token/passkey:
    post:
      operationId: createTokenFromPasskey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePasskeyTokenRequest'
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
  /token/email:
    post:
      operationId: createTokenFromEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailTokenRequest'
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found User
  /token/email/start:
    post:
      operationId: sendEmailForToken
      parameters:
        - name: email
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: string
                contentEncoding: base64
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found User
  /refreshToken:
    post:
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: User refresh token.
              required:
                - refreshToken
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /me:
    get:
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with the current user state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
    post:
      operationId: createUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserProfileRequest'
      responses:
        '200':
          description: A success response with the created user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /user_profile/{user_id}:
    get:
      operationId: getUserProfile
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User id.
      responses:
        '200':
          description: A success response with the latest user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found User Profile
  /images/upload_url:
    post:
      operationId: createImageUploadURL
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with a direct image upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageUploadURLResponse'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /images:
    post:
      operationId: createImage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
      responses:
        '200':
          description: A success response with the registered image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /users:
    get:
      operationId: getUsers
      parameters:
        - name: ids
          in: query
          description: ID of user to return
          required: true
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: A bad request
  /email/verify/start:
    post:
      operationId: sendConfirmEmail
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: A success response with a user.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /email/verify:
    post:
      operationId: confirmEmail
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
            format: email
        - name: password
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A success response with a user.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserToken:
      type: object
      description: A value with the User contents.
      properties:
        userID:
          type: string
          format: uuid
          description: User id.
        token:
          type: string
          description: User token.
        tokenExpiredDate:
          type: number
          format: double
          description: User token expired date.
        refreshToken:
          type: string
          description: User refresh token.
        refreshTokenExpiredDate:
          type: number
          format: double
          description: User refresh token expired date.
      required:
        - userID
        - token
        - tokenExpiredDate
        - refreshToken
        - refreshTokenExpiredDate
    User:
      type: object
      description: A value with the User contents.
      properties:
        id:
          type: string
          format: uuid
          description: User id.
        email:
          type: string
          format: email
          description: User email.
      required:
        - id
    UserProfile:
      type: object
      description: A value with the user profile contents.
      properties:
        id:
          type: string
          format: uuid
          description: User profile id.
        userID:
          type: string
          format: uuid
          description: User id.
        name:
          type: string
          description: User profile name.
        imageURL:
          type: string
          format: uri
          description: Image URL for the profile image.
        createdAt:
          type: number
          format: double
          description: User profile created date.
      required:
        - id
        - userID
        - name
        - createdAt
    Me:
      type: object
      description: A value with the current user profile and registered email addresses.
      properties:
        userID:
          type: string
          format: uuid
          description: User id.
        userProfile:
          allOf:
            - $ref: '#/components/schemas/MeUserProfile'
          nullable: true
          description: Current user profile, or null when it is not created yet.
        emails:
          type: array
          description: Registered email addresses.
          items:
            $ref: '#/components/schemas/Email'
      required:
        - userID
        - emails
    MeUserProfile:
      type: object
      description: A current user profile summary for the authenticated user.
      properties:
        name:
          type: string
          description: User profile name.
        imageURL:
          type: string
          format: uri
          description: Image URL for the profile image.
        createdAt:
          type: number
          format: double
          description: User profile created date.
      required:
        - name
        - createdAt
    Email:
      type: object
      description: A registered email address.
      properties:
        email:
          type: string
          format: email
          description: Registered email address.
        createdAt:
          type: number
          format: double
          description: Registered email created date.
      required:
        - email
        - createdAt
    CreateUserProfileRequest:
      type: object
      description: A request to create a user profile entry.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: User profile name.
        imageID:
          type: string
          format: uuid
          description: Image id for the profile image.
      required:
        - name
    CreateImageUploadURLResponse:
      type: object
      description: A response with a Cloudflare Images direct upload URL.
      properties:
        imageID:
          type: string
          description: Cloudflare Images image id.
        uploadURL:
          type: string
          description: Cloudflare Images direct upload URL.
      required:
        - imageID
        - uploadURL
    CreateImageRequest:
      type: object
      description: A request to register an uploaded image.
      properties:
        imageID:
          type: string
          description: Cloudflare Images image id.
      required:
        - imageID
    Image:
      type: object
      description: A value with the uploaded image contents.
      properties:
        id:
          type: string
          format: uuid
          description: Image id.
        imageID:
          type: string
          description: Cloudflare Images image id.
        createdAt:
          type: number
          format: double
          description: Image registered date.
      required:
        - id
        - imageID
        - createdAt
    AppleAppSiteAssociation:
      type: object
      description: Apple App Site Association document.
      properties:
        webcredentials:
          $ref: '#/components/schemas/WebCredentials'
          description: Web credentials configuration.
        appclips:
          $ref: '#/components/schemas/AppClips'
          description: App Clips configuration.
        applinks:
          $ref: '#/components/schemas/AppLinks'
          description: Universal Links configuration.
    WebCredentials:
      type: object
      description: Web credentials configuration.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App IDs (e.g., TEAMID.com.example.app).
    AppClips:
      type: object
      description: App Clips configuration.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App Clip bundle IDs.
    AppLinks:
      type: object
      description: Universal Links configuration.
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/AppLinkDetail'
    AppLinkDetail:
      type: object
      description: Universal Link detail entry.
      properties:
        appIDs:
          type: array
          description: App IDs.
          items:
            type: string
        components:
          type: array
          description: Path components.
          items:
            type: string
    AddPasskey:
      type: object
      description: Passkey registration payload from `navigator.credentials.create`.
      properties:
        id:
          type: string
          description: Credential identifier encoded in Base64URL.
        rawId:
          type: string
          description: Raw credential identifier in Base64URL format.
        type:
          type: string
          description: Credential type reported by the browser.
        response:
          $ref: '#/components/schemas/AuthenticatorAttestation'
      required:
        - id
        - rawId
        - type
        - response
    AuthenticatorAttestation:
      type: object
      description: Authenticator attestation response.
      properties:
        clientDataJSON:
          type: string
          description: Client Data JSON.
        attestationObject:
          type: string
          description: Attestation Object.
      required:
        - clientDataJSON
        - attestationObject
    AuthenticatorAssertion:
      type: object
      description: Authenticator assertion response for passkey authentication.
      properties:
        clientDataJSON:
          type: string
          description: Client Data JSON.
        authenticatorData:
          type: string
          description: Authenticator data returned by the authenticator.
        signature:
          type: string
          description: Signature generated by the authenticator.
        userHandle:
          type: string
          description: Base64URL-encoded user handle.
        attestationObject:
          type: string
          description: Base64URL-encoded user handle.
      required:
        - clientDataJSON
        - authenticatorData
        - signature
    CreatePasskeyTokenRequest:
      type: object
      description: Passkey authentication payload from `navigator.credentials.get`.
      properties:
        challenge:
          type: string
          description: Base64URL-encoded challenge issued by the server.
        id:
          type: string
          description: Credential identifier encoded in Base64URL.
        rawId:
          type: string
          description: Raw credential identifier in Base64URL format.
        type:
          type: string
          description: Credential type reported by the browser.
        authenticatorAttachment:
          type: string
          description: Authenticator attachment modality, when available.
        response:
          $ref: '#/components/schemas/AuthenticatorAssertion'
      required:
        - challenge
        - id
        - rawId
        - type
        - response
    CreateEmailTokenRequest:
      type: object
      description: Email authentication payload
      properties:
        challenge:
          type: string
          description: Base64URL-encoded challenge issued by the server.
        email:
          type: string
          description: Credential identifier encoded in Base64URL.
        otp:
          type: string
          description: Raw credential identifier in Base64URL format.
      required:
        - challenge
        - email
        - otp
