openapi: '3.1.0'
info:
  title: Blindlog API server
  version: 1.0.0
servers:
  - url: https://api.blindlog.me
    description: Blindlog API server
paths:
  /health:
    get:
      operationId: getHealth
      responses:
        '200':
          description: A success response indicating the server is healthy.
  /.well-known/apple-app-site-association:
    get:
      operationId: getAppleAppSiteAssociation
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /challenge:
    post:
      operationId: createChallenge
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: string
                contentEncoding: base64
        '400':
          description: A bad request
  /passkey:
    post:
      operationId: addPasskey
      security:
        - bearerAuth: []
      parameters:
        - name: challenge
          in: query
          description: Base64URL-encoded challenge returned by `/challenge`.
          required: true
          schema:
            type: string
            contentEncoding: base64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPasskey'
      responses:
        '200':
          description: A success response with a user.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /user:
    post:
      operationId: createUser
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
  /token/passkey:
    post:
      operationId: createTokenFromPasskey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePasskeyTokenRequest'
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
  /token/email:
    post:
      operationId: createTokenFromEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailTokenRequest'
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found User
  /token/email/start:
    post:
      operationId: sendEmailForToken
      parameters:
        - name: email
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: string
                contentEncoding: base64
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found User
  /refreshToken:
    post:
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: User refresh token.
              required:
                - refreshToken
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /revokeToken:
    post:
      operationId: revokeToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: User refresh token.
              required:
                - refreshToken
      responses:
        '200':
          description: A success response.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /me:
    get:
      operationId: getMe
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with the current user state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
    post:
      operationId: createUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserProfileRequest'
      responses:
        '200':
          description: A success response with the created user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /user_profile/{user_id}:
    get:
      operationId: getUserProfile
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User id.
      responses:
        '200':
          description: A success response with the latest user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found User Profile
  /users/{user_id}/organized_events:
    get:
      operationId: getUserOrganizedEvents
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User id.
      responses:
        '200':
          description: A success response with events organized by the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /users/{user_id}/participating_events:
    get:
      operationId: getUserParticipatingEvents
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User id.
      responses:
        '200':
          description: A success response with events the user participates in.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /images/upload_url:
    post:
      operationId: createImageUploadURL
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with a direct image upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageUploadURLResponse'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /images:
    post:
      operationId: createImage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
      responses:
        '200':
          description: A success response with the registered image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /events:
    get:
      operationId: getEvents
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
    post:
      operationId: createEvent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: A success response with the created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /events/{event_id}:
    get:
      operationId: getEvent
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
      responses:
        '200':
          description: A success response with the event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event
    put:
      operationId: updateEvent
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: A success response with the latest event revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event
  /events/{event_id}/participants:
    post:
      operationId: registerEventParticipant
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
      responses:
        '200':
          description: A success response with the event participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventParticipant'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event
  /events/{event_id}/questions:
    post:
      operationId: createEventQuestion
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionRequest'
      responses:
        '200':
          description: A success response with the created event question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestion'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event
  /events/{event_id}/questions/{question_id}:
    put:
      operationId: updateEventQuestion
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event question id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionRequest'
      responses:
        '200':
          description: A success response with the latest event question revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestion'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event Question
  /events/{event_id}/questions/{question_id}/correct_answer:
    post:
      operationId: createEventQuestionCorrectAnswer
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event question id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionCorrectAnswerRequest'
      responses:
        '200':
          description: A success response with the created correct answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionCorrectAnswer'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event Question
    put:
      operationId: updateEventQuestionCorrectAnswer
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event question id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionCorrectAnswerRequest'
      responses:
        '200':
          description: A success response with the latest correct answer revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionCorrectAnswer'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event Question
  /events/{event_id}/questions/{question_id}/responses:
    post:
      operationId: createEventQuestionResponse
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event question id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionResponseRequest'
      responses:
        '200':
          description: A success response with the submitted response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionResponse'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event Question
  /events/{event_id}/questions/{question_id}/responses/me:
    put:
      operationId: updateMyEventQuestionResponse
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event id.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event question id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionResponseRequest'
      responses:
        '200':
          description: A success response with the latest submitted response revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionResponse'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
        '404':
          description: Not found Event Question
  /wine/styles:
    get:
      operationId: getWineStyles
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine styles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineStyle'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /wine/varieties:
    get:
      operationId: getWineVarieties
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine varieties.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineVariety'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /wine/region_types:
    get:
      operationId: getWineRegionTypes
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine region types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineRegionType'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /wine/regions:
    get:
      operationId: getWineRegions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine regions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineRegion'
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /users:
    get:
      operationId: getUsers
      parameters:
        - name: ids
          in: query
          description: ID of user to return
          required: true
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: A success response with a user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: A bad request
  /email/verify/start:
    post:
      operationId: sendConfirmEmail
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: A success response with a user.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
  /email/verify:
    post:
      operationId: confirmEmail
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
            format: email
        - name: password
          in: query
          description: ID of user to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A success response with a user.
        '400':
          description: A bad request
        '401':
          description: Not Authorization
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserToken:
      type: object
      description: A value with the User contents.
      properties:
        userID:
          type: string
          format: uuid
          description: User id.
        token:
          type: string
          description: User token.
        tokenExpiredDate:
          type: number
          format: double
          description: User token expired date.
        refreshToken:
          type: string
          description: User refresh token.
        refreshTokenExpiredDate:
          type: number
          format: double
          description: User refresh token expired date.
      required:
        - userID
        - token
        - tokenExpiredDate
        - refreshToken
        - refreshTokenExpiredDate
    User:
      type: object
      description: A value with the User contents.
      properties:
        id:
          type: string
          format: uuid
          description: User id.
        email:
          type: string
          format: email
          description: User email.
      required:
        - id
    UserProfile:
      type: object
      description: A value with the user profile contents.
      properties:
        id:
          type: string
          format: uuid
          description: User profile id.
        userID:
          type: string
          format: uuid
          description: User id.
        name:
          type: string
          description: User profile name.
        imageURL:
          type:
            - string
            - 'null'
          format: uri
          description: Image URL for the profile image.
        createdAt:
          type: number
          format: double
          description: User profile created date.
      required:
        - id
        - userID
        - name
        - createdAt
    Me:
      type: object
      description: A value with the current user profile and registered email addresses.
      properties:
        userID:
          type: string
          format: uuid
          description: User id.
        userProfile:
          $ref: '#/components/schemas/MeUserProfile'
          description: Current user profile, or null when it is not created yet.
        emails:
          type: array
          description: Registered email addresses.
          items:
            $ref: '#/components/schemas/Email'
      required:
        - userID
        - userProfile
        - emails
    MeUserProfile:
      type:
        - object
        - 'null'
      description: A current user profile summary for the authenticated user.
      properties:
        name:
          type: string
          description: User profile name.
        imageURL:
          type:
            - string
            - 'null'
          format: uri
          description: Image URL for the profile image.
        createdAt:
          type: number
          format: double
          description: User profile created date.
      required:
        - name
        - createdAt
    Email:
      type: object
      description: A registered email address.
      properties:
        email:
          type: string
          format: email
          description: Registered email address.
        createdAt:
          type: number
          format: double
          description: Registered email created date.
      required:
        - email
        - createdAt
    CreateUserProfileRequest:
      type: object
      description: A request to create a user profile entry.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: User profile name.
        imageID:
          type: string
          format: uuid
          description: Image id for the profile image.
      required:
        - name
    CreateImageUploadURLResponse:
      type: object
      description: A response with a Cloudflare Images direct upload URL.
      properties:
        imageID:
          type: string
          description: Cloudflare Images image id.
        uploadURL:
          type: string
          description: Cloudflare Images direct upload URL.
      required:
        - imageID
        - uploadURL
    CreateImageRequest:
      type: object
      description: A request to register an uploaded image.
      properties:
        imageID:
          type: string
          description: Cloudflare Images image id.
      required:
        - imageID
    Image:
      type: object
      description: A value with the uploaded image contents.
      properties:
        id:
          type: string
          format: uuid
          description: Image id.
        imageID:
          type: string
          description: Cloudflare Images image id.
        createdAt:
          type: number
          format: double
          description: Image registered date.
      required:
        - id
        - imageID
        - createdAt
    Event:
      type: object
      description: A blind tasting event.
      properties:
        id:
          type: string
          format: uuid
        organizerUserID:
          type: string
          format: uuid
        title:
          type: string
        body:
          type: string
        imageID:
          type: string
          format: uuid
        venueName:
          type: string
        venueAddress:
          $ref: '#/components/schemas/PostalAddress'
        venueCoordinate:
          $ref: '#/components/schemas/GeoCoordinate'
        registrationPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        eventPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        answersPublishedAt:
          type: number
          format: double
        capacity:
          type: integer
          format: int32
        entryFee:
          $ref: '#/components/schemas/Money'
        visibility:
          $ref: '#/components/schemas/EventVisibility'
        publishedAt:
          type: number
          format: double
        canceledAt:
          type: number
          format: double
        createdAt:
          type: number
          format: double
      required:
        - id
        - organizerUserID
        - title
        - body
        - venueName
        - venueAddress
        - eventPeriod
        - visibility
        - createdAt
    CreateEventRequest:
      type: object
      description: A request to create a blind tasting event.
      properties:
        title:
          type: string
        body:
          type: string
        imageID:
          type: string
          format: uuid
        venueName:
          type: string
        venueAddress:
          $ref: '#/components/schemas/PostalAddress'
        venueCoordinate:
          $ref: '#/components/schemas/GeoCoordinate'
        registrationPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        eventPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        answersPublishedAt:
          type: number
          format: double
        capacity:
          type: integer
          format: int32
        entryFee:
          $ref: '#/components/schemas/Money'
        visibility:
          $ref: '#/components/schemas/EventVisibility'
        publishedAt:
          type: number
          format: double
        canceledAt:
          type: number
          format: double
      required:
        - title
        - body
        - venueName
        - venueAddress
        - eventPeriod
        - visibility
    DateTimePeriod:
      type: object
      description: A date-time period represented by start and end instants.
      properties:
        startsAt:
          type: number
          format: double
        endsAt:
          type: number
          format: double
      required:
        - startsAt
        - endsAt
    PostalAddress:
      type: object
      description: A structured postal address for native client formatting.
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        locality:
          type: string
        administrativeArea:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code.
      required:
        - addressLine1
        - countryCode
    GeoCoordinate:
      type: object
      description: A geographic coordinate for map display.
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
      required:
        - latitude
        - longitude
    Money:
      type: object
      description: A currency amount for locale-aware currency formatting.
      properties:
        minorAmount:
          type: integer
          format: int64
          description: Amount in the minor currency unit, such as cents.
        currencyCode:
          type: string
          description: ISO 4217 currency code.
      required:
        - minorAmount
        - currencyCode
    EventVisibility:
      type: string
      enum:
        - public
        - unlisted
        - private
    EventParticipant:
      type: object
      description: A user's registration for an event.
      properties:
        id:
          type: string
          format: uuid
        eventID:
          type: string
          format: uuid
        userID:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/EventParticipantStatus'
        createdAt:
          type: number
          format: double
      required:
        - id
        - eventID
        - userID
        - status
        - createdAt
    EventParticipantStatus:
      type: string
      enum:
        - registered
        - waitlisted
        - canceled
        - attended
    EventQuestion:
      type: object
      description: A question in a blind tasting event.
      properties:
        id:
          type: string
          format: uuid
        eventID:
          type: string
          format: uuid
        questionNumber:
          type: integer
          format: int32
        imageID:
          type: string
          format: uuid
        note:
          type: string
        createdAt:
          type: number
          format: double
      required:
        - id
        - eventID
        - questionNumber
        - createdAt
    CreateEventQuestionRequest:
      type: object
      description: A request to create an event question.
      properties:
        questionNumber:
          type: integer
          format: int32
        imageID:
          type: string
          format: uuid
        note:
          type: string
      required:
        - questionNumber
    CreateEventQuestionCorrectAnswerRequest:
      type: object
      description: A request to create the correct answer for a question.
      properties:
        wineStyleID:
          type: string
          format: uuid
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
      required:
        - wineVarietyIDs
    EventQuestionCorrectAnswer:
      type: object
      description: The correct answer for an event question.
      properties:
        id:
          type: string
          format: uuid
        eventQuestionID:
          type: string
          format: uuid
        wineStyleID:
          type: string
          format: uuid
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
        createdAt:
          type: number
          format: double
      required:
        - id
        - eventQuestionID
        - wineVarietyIDs
        - createdAt
    CreateEventQuestionResponseRequest:
      type: object
      description: A request to submit a response for a question.
      properties:
        wineStyleID:
          type: string
          format: uuid
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        note:
          type: string
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
      required:
        - wineVarietyIDs
    EventQuestionResponse:
      type: object
      description: A submitted response for a question.
      properties:
        id:
          type: string
          format: uuid
        eventQuestionID:
          type: string
          format: uuid
        userID:
          type: string
          format: uuid
        wineStyleID:
          type: string
          format: uuid
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        note:
          type: string
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
        submittedAt:
          type: number
          format: double
      required:
        - id
        - eventQuestionID
        - userID
        - wineVarietyIDs
        - submittedAt
    WineStyle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
      required:
        - id
        - code
        - name
    WineVariety:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        wineStyleIDs:
          type: array
          items:
            type: string
            format: uuid
      required:
        - id
        - name
        - wineStyleIDs
    WineRegionType:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
      required:
        - id
        - code
        - name
    WineRegion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parentRegionID:
          type: string
          format: uuid
        wineRegionTypeID:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - wineRegionTypeID
        - name
    AppleAppSiteAssociation:
      type: object
      description: Apple App Site Association document.
      properties:
        webcredentials:
          $ref: '#/components/schemas/WebCredentials'
          description: Web credentials configuration.
        appclips:
          $ref: '#/components/schemas/AppClips'
          description: App Clips configuration.
        applinks:
          $ref: '#/components/schemas/AppLinks'
          description: Universal Links configuration.
    WebCredentials:
      type: object
      description: Web credentials configuration.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App IDs (e.g., TEAMID.com.example.app).
    AppClips:
      type: object
      description: App Clips configuration.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App Clip bundle IDs.
    AppLinks:
      type: object
      description: Universal Links configuration.
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/AppLinkDetail'
    AppLinkDetail:
      type: object
      description: Universal Link detail entry.
      properties:
        appIDs:
          type: array
          description: App IDs.
          items:
            type: string
        components:
          type: array
          description: Path components.
          items:
            type: string
    AddPasskey:
      type: object
      description: Passkey registration payload from `navigator.credentials.create`.
      properties:
        id:
          type: string
          description: Credential identifier encoded in Base64URL.
        rawId:
          type: string
          description: Raw credential identifier in Base64URL format.
        type:
          type: string
          description: Credential type reported by the browser.
        response:
          $ref: '#/components/schemas/AuthenticatorAttestation'
      required:
        - id
        - rawId
        - type
        - response
    AuthenticatorAttestation:
      type: object
      description: Authenticator attestation response.
      properties:
        clientDataJSON:
          type: string
          description: Client Data JSON.
        attestationObject:
          type: string
          description: Attestation Object.
      required:
        - clientDataJSON
        - attestationObject
    AuthenticatorAssertion:
      type: object
      description: Authenticator assertion response for passkey authentication.
      properties:
        clientDataJSON:
          type: string
          description: Client Data JSON.
        authenticatorData:
          type: string
          description: Authenticator data returned by the authenticator.
        signature:
          type: string
          description: Signature generated by the authenticator.
        userHandle:
          type: string
          description: Base64URL-encoded user handle.
        attestationObject:
          type: string
          description: Base64URL-encoded user handle.
      required:
        - clientDataJSON
        - authenticatorData
        - signature
    CreatePasskeyTokenRequest:
      type: object
      description: Passkey authentication payload from `navigator.credentials.get`.
      properties:
        challenge:
          type: string
          description: Base64URL-encoded challenge issued by the server.
        id:
          type: string
          description: Credential identifier encoded in Base64URL.
        rawId:
          type: string
          description: Raw credential identifier in Base64URL format.
        type:
          type: string
          description: Credential type reported by the browser.
        authenticatorAttachment:
          type: string
          description: Authenticator attachment modality, when available.
        response:
          $ref: '#/components/schemas/AuthenticatorAssertion'
      required:
        - challenge
        - id
        - rawId
        - type
        - response
    CreateEmailTokenRequest:
      type: object
      description: Email authentication payload
      properties:
        challenge:
          type: string
          description: Base64URL-encoded challenge issued by the server.
        email:
          type: string
          description: Credential identifier encoded in Base64URL.
        otp:
          type: string
          description: Raw credential identifier in Base64URL format.
      required:
        - challenge
        - email
        - otp
