openapi: '3.1.0'
info:
  title: Blindlog API server
  version: 1.0.0
servers:
  - url: https://api.blindlog.me
    description: Blindlog API server
tags:
  - name: System
    description: Health checks and platform integration documents.
  - name: Authentication
    description: User creation, passkey authentication, email OTP login, and token lifecycle endpoints.
  - name: Current User
    description: Authenticated user profile and email verification endpoints.
  - name: Users
    description: Public user and user-profile lookup endpoints.
  - name: Images
    description: Cloudflare Images direct upload and image registration endpoints.
  - name: Events
    description: Blind tasting event, participant, question, answer, and response endpoints.
  - name: Wine Master Data
    description: Read-only wine style, variety, and region reference data.
paths:
  /health:
    get:
      operationId: getHealth
      tags:
        - System
      summary: Check API health
      description: Returns a lightweight success response used by load balancers, uptime checks, and deployment smoke tests.
      responses:
        '200':
          description: A success response indicating the server is healthy.
  /.well-known/apple-app-site-association:
    get:
      operationId: getAppleAppSiteAssociation
      tags:
        - System
      summary: Get Apple app site association
      description: Returns the Apple App Site Association document used by iOS for passkeys, App Clips, and Universal Links.
      responses:
        '200':
          description: A success response with the Apple App Site Association document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleAppSiteAssociation'
  /challenge:
    post:
      operationId: createChallenge
      tags:
        - Authentication
      summary: Create passkey challenge
      description: Issues a Base64URL-encoded challenge that clients use before registering or authenticating with a passkey.
      responses:
        '200':
          description: A success response with a newly issued passkey challenge.
          content:
            application/json:
              schema:
                type: string
                contentEncoding: base64
        '400':
          description: A bad request
  /passkey:
    post:
      operationId: addPasskey
      tags:
        - Authentication
      summary: Register passkey
      description: Registers a new passkey credential for the authenticated user using a challenge previously returned by the API.
      security:
        - bearerAuth: []
      parameters:
        - name: challenge
          in: query
          description: Base64URL-encoded challenge returned by `POST /challenge` for this passkey registration.
          required: true
          schema:
            type: string
            contentEncoding: base64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPasskey'
      responses:
        '200':
          description: A success response indicating the passkey was registered.
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /user:
    post:
      operationId: createUser
      tags:
        - Authentication
      summary: Create anonymous user
      description: Creates a user account and returns the initial access and refresh tokens for that user.
      responses:
        '200':
          description: A success response with a token for the created user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
  /token/passkey:
    post:
      operationId: createTokenFromPasskey
      tags:
        - Authentication
      summary: Create token from passkey
      description: Authenticates a user with a passkey assertion and returns a fresh access token and refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePasskeyTokenRequest'
      responses:
        '200':
          description: A success response with a token created from passkey authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
  /token/email:
    post:
      operationId: createTokenFromEmail
      tags:
        - Authentication
      summary: Create token from email OTP
      description: Authenticates a user with an email one-time password challenge and returns a fresh access token and refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailTokenRequest'
      responses:
        '200':
          description: A success response with a token created from email OTP authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found User
  /token/email/start:
    post:
      operationId: sendEmailForToken
      tags:
        - Authentication
      summary: Start email OTP login
      description: Sends a one-time password to a registered email address and returns the challenge required to complete email login.
      parameters:
        - name: email
          in: query
          description: Registered email address that receives the one-time password for login.
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: A success response with the email login OTP challenge.
          content:
            application/json:
              schema:
                type: string
                contentEncoding: base64
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found User
  /refreshToken:
    post:
      operationId: refreshToken
      tags:
        - Authentication
      summary: Refresh user tokens
      description: Exchanges a valid refresh token for a new access token and refresh token pair.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: User refresh token.
              required:
                - refreshToken
      responses:
        '200':
          description: A success response with refreshed user tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToken'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /revokeToken:
    post:
      operationId: revokeToken
      tags:
        - Authentication
      summary: Revoke refresh token
      description: Revokes a refresh token so it can no longer be used to issue new user tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: User refresh token.
              required:
                - refreshToken
      responses:
        '200':
          description: A success response.
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /me:
    get:
      operationId: getMe
      tags:
        - Current User
      summary: Get current user
      description: Returns the authenticated user ID, current profile summary, and registered email addresses.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with the current user state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
    post:
      operationId: createUserProfile
      tags:
        - Current User
      summary: Create current user profile
      description: Creates the authenticated user profile, including the display name and optional profile image.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserProfileRequest'
      responses:
        '200':
          description: A success response with the created user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /user_profile/{user_id}:
    get:
      operationId: getUserProfile
      tags:
        - Users
      summary: Get user profile
      description: Returns the latest profile for the requested user.
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target user ID in UUID format.
      responses:
        '200':
          description: A success response with the latest user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found User Profile
  /users/{user_id}/organized_events:
    get:
      operationId: getUserOrganizedEvents
      tags:
        - Users
      summary: List organized events
      description: Returns blind tasting events organized by the requested user.
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target user ID in UUID format.
      responses:
        '200':
          description: A success response with events organized by the user.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /users/{user_id}/participating_events:
    get:
      operationId: getUserParticipatingEvents
      tags:
        - Users
      summary: List participating events
      description: Returns blind tasting events where the requested user is registered as a participant.
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target user ID in UUID format.
      responses:
        '200':
          description: A success response with events the user participates in.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /images/upload_url:
    post:
      operationId: createImageUploadURL
      tags:
        - Images
      summary: Create image upload URL
      description: Creates a Cloudflare Images direct upload URL that clients can use before registering the uploaded image.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with a direct image upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImageUploadURLResponse'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /images:
    post:
      operationId: createImage
      tags:
        - Images
      summary: Register uploaded image
      description: Registers an image after the client has uploaded it to Cloudflare Images.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
      responses:
        '200':
          description: A success response with the registered image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /events:
    get:
      operationId: getEvents
      tags:
        - Events
      summary: List events
      description: Returns blind tasting events visible to the authenticated user.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
    post:
      operationId: createEvent
      tags:
        - Events
      summary: Create event
      description: Creates a blind tasting event with venue, schedule, visibility, and scoring rule settings.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: A success response with the created event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /events/{event_id}:
    get:
      operationId: getEvent
      tags:
        - Events
      summary: Get event
      description: Returns the latest revision of a blind tasting event.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
      responses:
        '200':
          description: A success response with the event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event
    put:
      operationId: updateEvent
      tags:
        - Events
      summary: Update event
      description: Updates event details and returns the latest event revision.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: A success response with the latest event revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event
  /events/{event_id}/participants:
    post:
      operationId: registerEventParticipant
      tags:
        - Events
      summary: Register event participant
      description: Registers the authenticated user as a participant for the specified event.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
      responses:
        '200':
          description: A success response with the event participant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventParticipant'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event
  /events/{event_id}/questions:
    post:
      operationId: createEventQuestion
      tags:
        - Events
      summary: Create event question
      description: Creates a blind tasting question within an event.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionRequest'
      responses:
        '200':
          description: A success response with the created event question.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestion'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event
  /events/{event_id}/questions/{question_id}:
    put:
      operationId: updateEventQuestion
      tags:
        - Events
      summary: Update event question
      description: Updates a blind tasting question and returns its latest revision.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event question ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionRequest'
      responses:
        '200':
          description: A success response with the latest event question revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestion'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event Question
  /events/{event_id}/questions/{question_id}/correct_answer:
    post:
      operationId: createEventQuestionCorrectAnswer
      tags:
        - Events
      summary: Create correct answer
      description: Creates the official correct answer for a blind tasting question.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event question ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionCorrectAnswerRequest'
      responses:
        '200':
          description: A success response with the created correct answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionCorrectAnswer'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event Question
    put:
      operationId: updateEventQuestionCorrectAnswer
      tags:
        - Events
      summary: Update correct answer
      description: Updates the official correct answer for a blind tasting question.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event question ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionCorrectAnswerRequest'
      responses:
        '200':
          description: A success response with the latest correct answer revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionCorrectAnswer'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event Question
  /events/{event_id}/questions/{question_id}/responses:
    post:
      operationId: createEventQuestionResponse
      tags:
        - Events
      summary: Submit question response
      description: Submits the authenticated user response for a blind tasting question.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event question ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionResponseRequest'
      responses:
        '200':
          description: A success response with the submitted response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionResponse'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event Question
  /events/{event_id}/questions/{question_id}/responses/me:
    put:
      operationId: updateMyEventQuestionResponse
      tags:
        - Events
      summary: Update my question response
      description: Updates the authenticated user response for a blind tasting question.
      security:
        - bearerAuth: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event ID in UUID format.
        - name: question_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Target event question ID in UUID format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventQuestionResponseRequest'
      responses:
        '200':
          description: A success response with the latest submitted response revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventQuestionResponse'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found Event Question
  /wine/styles:
    get:
      operationId: getWineStyles
      tags:
        - Wine Master Data
      summary: List wine styles
      description: Returns the wine style master data used to classify grape varieties.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine styles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineStyle'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /wine/varieties:
    get:
      operationId: getWineVarieties
      tags:
        - Wine Master Data
      summary: List wine varieties
      description: Returns the wine variety master data and related wine style IDs.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine varieties.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineVariety'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /wine/region_types:
    get:
      operationId: getWineRegionTypes
      tags:
        - Wine Master Data
      summary: List wine region types
      description: Returns the wine region type master data used by event scoring rules.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine region types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineRegionType'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /wine/regions:
    get:
      operationId: getWineRegions
      tags:
        - Wine Master Data
      summary: List wine regions
      description: Returns the hierarchical wine region master data.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A success response with wine regions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WineRegion'
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /users:
    get:
      operationId: getUsers
      tags:
        - Users
      summary: Get users by ID
      description: Returns user records for the requested comma-separated user IDs.
      parameters:
        - name: ids
          in: query
          description: Comma-separated UUIDs of users to return, for example `id1,id2,id3`.
          required: true
          explode: false
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: A success response with matching users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: A bad request
  /email/verify/start:
    post:
      operationId: sendConfirmEmail
      tags:
        - Current User
      summary: Start email verification
      description: Sends a one-time password to verify an email address for the authenticated user.
      security:
        - bearerAuth: []
      parameters:
        - name: email
          in: query
          description: Email address that receives the one-time password for verification.
          required: true
          schema:
            type: string
            format: email
      responses:
        '200':
          description: A success response indicating the verification email was sent.
        '400':
          description: A bad request
        '401':
          description: Unauthorized
  /email/verify:
    post:
      operationId: confirmEmail
      tags:
        - Current User
      summary: Confirm email verification
      description: Verifies an email address for the authenticated user using the one-time password sent by email.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmEmailRequest'
      responses:
        '200':
          description: A success response indicating the email address was verified.
        '400':
          description: A bad request
        '401':
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    UserToken:
      type: object
      description: A value with the User contents.
      properties:
        userID:
          type: string
          format: uuid
          description: User id.
        token:
          type: string
          description: User token.
        tokenExpiredDate:
          type: number
          format: double
          description: User token expired date.
        refreshToken:
          type: string
          description: User refresh token.
        refreshTokenExpiredDate:
          type: number
          format: double
          description: User refresh token expired date.
      required:
        - userID
        - token
        - tokenExpiredDate
        - refreshToken
        - refreshTokenExpiredDate
    User:
      type: object
      description: A value with the User contents.
      properties:
        id:
          type: string
          format: uuid
          description: User id.
        email:
          type: string
          format: email
          description: User email.
      required:
        - id
    UserProfile:
      type: object
      description: A value with the user profile contents.
      properties:
        id:
          type: string
          format: uuid
          description: User profile id.
        userID:
          type: string
          format: uuid
          description: User id.
        name:
          type: string
          description: User profile name.
        imageURL:
          type:
            - string
            - 'null'
          format: uri
          description: Image URL for the profile image.
        createdAt:
          type: number
          format: double
          description: User profile created date.
      required:
        - id
        - userID
        - name
        - createdAt
    Me:
      type: object
      description: A value with the current user profile and registered email addresses.
      properties:
        userID:
          type: string
          format: uuid
          description: User id.
        userProfile:
          $ref: '#/components/schemas/MeUserProfile'
          description: Current user profile, or null when it is not created yet.
        emails:
          type: array
          description: Registered email addresses.
          items:
            $ref: '#/components/schemas/Email'
      required:
        - userID
        - userProfile
        - emails
    MeUserProfile:
      type:
        - object
        - 'null'
      description: A current user profile summary for the authenticated user.
      properties:
        name:
          type: string
          description: User profile name.
        imageURL:
          type:
            - string
            - 'null'
          format: uri
          description: Image URL for the profile image.
        createdAt:
          type: number
          format: double
          description: User profile created date.
      required:
        - name
        - createdAt
    Email:
      type: object
      description: A registered email address.
      properties:
        email:
          type: string
          format: email
          description: Registered email address.
        createdAt:
          type: number
          format: double
          description: Registered email created date.
      required:
        - email
        - createdAt
    CreateUserProfileRequest:
      type: object
      description: A request to create a user profile entry.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: User profile name.
        imageID:
          type: string
          format: uuid
          description: Image id for the profile image.
      required:
        - name
    CreateImageUploadURLResponse:
      type: object
      description: A response with a Cloudflare Images direct upload URL.
      properties:
        imageID:
          type: string
          description: Cloudflare Images image id.
        uploadURL:
          type: string
          description: Cloudflare Images direct upload URL.
      required:
        - imageID
        - uploadURL
    CreateImageRequest:
      type: object
      description: A request to register an uploaded image.
      properties:
        imageID:
          type: string
          description: Cloudflare Images image id.
      required:
        - imageID
    Image:
      type: object
      description: A value with the uploaded image contents.
      properties:
        id:
          type: string
          format: uuid
          description: Image id.
        imageID:
          type: string
          description: Cloudflare Images image id.
        createdAt:
          type: number
          format: double
          description: Image registered date.
      required:
        - id
        - imageID
        - createdAt
    Event:
      type: object
      description: A blind tasting event.
      properties:
        id:
          type: string
          format: uuid
        organizerUserID:
          type: string
          format: uuid
        title:
          type: string
        body:
          type: string
        imageID:
          type: string
          format: uuid
        venueName:
          type: string
        venueAddress:
          $ref: '#/components/schemas/PostalAddress'
        venueCoordinate:
          $ref: '#/components/schemas/GeoCoordinate'
        registrationPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        eventPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        answersPublishedAt:
          type: number
          format: double
        capacity:
          type: integer
          format: int32
        entryFee:
          $ref: '#/components/schemas/Money'
        visibility:
          $ref: '#/components/schemas/EventVisibility'
        publishedAt:
          type: number
          format: double
        canceledAt:
          type: number
          format: double
        regionScoreRules:
          type: array
          items:
            $ref: '#/components/schemas/EventRegionScoreRule'
        createdAt:
          type: number
          format: double
      required:
        - id
        - organizerUserID
        - title
        - body
        - venueName
        - venueAddress
        - eventPeriod
        - visibility
        - regionScoreRules
        - createdAt
    CreateEventRequest:
      type: object
      description: A request to create a blind tasting event.
      properties:
        title:
          type: string
        body:
          type: string
        imageID:
          type: string
          format: uuid
        venueName:
          type: string
        venueAddress:
          $ref: '#/components/schemas/PostalAddress'
        venueCoordinate:
          $ref: '#/components/schemas/GeoCoordinate'
        registrationPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        eventPeriod:
          $ref: '#/components/schemas/DateTimePeriod'
        answersPublishedAt:
          type:
            - number
            - 'null'
          format: double
          description: For PUT requests, omit or set null to clear.
        capacity:
          type: integer
          format: int32
        entryFee:
          $ref: '#/components/schemas/Money'
        visibility:
          $ref: '#/components/schemas/EventVisibility'
        publishedAt:
          type:
            - number
            - 'null'
          format: double
          description: For PUT requests, omit or set null to clear.
        canceledAt:
          type:
            - number
            - 'null'
          format: double
          description: For PUT requests, omit or set null to clear.
        regionScoreRules:
          type: array
          items:
            $ref: '#/components/schemas/CreateEventRegionScoreRuleRequest'
      required:
        - title
        - body
        - venueName
        - venueAddress
        - eventPeriod
        - visibility
    EventRegionScoreRule:
      type: object
      description: A point rule for matching a wine region type in an event.
      properties:
        wineRegionTypeID:
          type: string
          format: uuid
        points:
          type: integer
          format: int32
          minimum: 0
        createdAt:
          type: number
          format: double
      required:
        - wineRegionTypeID
        - points
        - createdAt
    CreateEventRegionScoreRuleRequest:
      type: object
      description: A request item for an event wine region type score rule.
      properties:
        wineRegionTypeID:
          type: string
          format: uuid
        points:
          type: integer
          format: int32
          minimum: 0
      required:
        - wineRegionTypeID
        - points
    DateTimePeriod:
      type: object
      description: A date-time period represented by start and end instants.
      properties:
        startsAt:
          type: number
          format: double
        endsAt:
          type: number
          format: double
      required:
        - startsAt
        - endsAt
    PostalAddress:
      type: object
      description: A structured postal address for native client formatting.
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        locality:
          type: string
        administrativeArea:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string
          description: ISO 3166-1 alpha-2 country code.
      required:
        - addressLine1
        - countryCode
    GeoCoordinate:
      type: object
      description: A geographic coordinate for map display.
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
      required:
        - latitude
        - longitude
    Money:
      type: object
      description: A currency amount for locale-aware currency formatting.
      properties:
        minorAmount:
          type: integer
          format: int64
          description: Amount in the minor currency unit, such as cents.
        currencyCode:
          type: string
          description: ISO 4217 currency code.
      required:
        - minorAmount
        - currencyCode
    EventVisibility:
      type: string
      enum:
        - public
        - unlisted
        - private
    EventParticipant:
      type: object
      description: A user's registration for an event.
      properties:
        id:
          type: string
          format: uuid
        eventID:
          type: string
          format: uuid
        userID:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/EventParticipantStatus'
        createdAt:
          type: number
          format: double
      required:
        - id
        - eventID
        - userID
        - status
        - createdAt
    EventParticipantStatus:
      type: string
      enum:
        - registered
        - waitlisted
        - canceled
        - attended
    EventQuestion:
      type: object
      description: A question in a blind tasting event.
      properties:
        id:
          type: string
          format: uuid
        eventID:
          type: string
          format: uuid
        questionNumber:
          type: integer
          format: int32
        imageID:
          type: string
          format: uuid
        note:
          type: string
        createdAt:
          type: number
          format: double
      required:
        - id
        - eventID
        - questionNumber
        - createdAt
    CreateEventQuestionRequest:
      type: object
      description: A request to create an event question.
      properties:
        questionNumber:
          type: integer
          format: int32
        imageID:
          type: string
          format: uuid
        note:
          type: string
      required:
        - questionNumber
    CreateEventQuestionCorrectAnswerRequest:
      type: object
      description: A request to create the correct answer for a question.
      properties:
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
      required:
        - wineVarietyIDs
    EventQuestionCorrectAnswer:
      type: object
      description: The correct answer for an event question.
      properties:
        id:
          type: string
          format: uuid
        eventQuestionID:
          type: string
          format: uuid
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
        createdAt:
          type: number
          format: double
      required:
        - id
        - eventQuestionID
        - wineVarietyIDs
        - createdAt
    CreateEventQuestionResponseRequest:
      type: object
      description: A request to submit a response for a question.
      properties:
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        note:
          type: string
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
      required:
        - wineVarietyIDs
    EventQuestionResponse:
      type: object
      description: A submitted response for a question.
      properties:
        id:
          type: string
          format: uuid
        eventQuestionID:
          type: string
          format: uuid
        userID:
          type: string
          format: uuid
        wineRegionID:
          type: string
          format: uuid
        vintage:
          type: integer
          format: int32
          minimum: 1
        alcoholByVolume:
          type: number
          format: double
          minimum: 0
          maximum: 100
        note:
          type: string
        wineVarietyIDs:
          type: array
          uniqueItems: true
          items:
            type: string
            format: uuid
        submittedAt:
          type: number
          format: double
      required:
        - id
        - eventQuestionID
        - userID
        - wineVarietyIDs
        - submittedAt
    WineStyle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
      required:
        - id
        - code
        - name
    WineVariety:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        wineStyleIDs:
          type: array
          items:
            type: string
            format: uuid
      required:
        - id
        - name
        - wineStyleIDs
    WineRegionType:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
      required:
        - id
        - code
        - name
    WineRegion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parentRegionID:
          type: string
          format: uuid
        wineRegionTypeID:
          type: string
          format: uuid
        name:
          type: string
      required:
        - id
        - wineRegionTypeID
        - name
    AppleAppSiteAssociation:
      type: object
      description: Apple App Site Association document.
      properties:
        webcredentials:
          $ref: '#/components/schemas/WebCredentials'
          description: Web credentials configuration.
        appclips:
          $ref: '#/components/schemas/AppClips'
          description: App Clips configuration.
        applinks:
          $ref: '#/components/schemas/AppLinks'
          description: Universal Links configuration.
    WebCredentials:
      type: object
      description: Web credentials configuration.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App IDs (e.g., TEAMID.com.example.app).
    AppClips:
      type: object
      description: App Clips configuration.
      properties:
        apps:
          type: array
          items:
            type: string
          description: App Clip bundle IDs.
    AppLinks:
      type: object
      description: Universal Links configuration.
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/AppLinkDetail'
    AppLinkDetail:
      type: object
      description: Universal Link detail entry.
      properties:
        appIDs:
          type: array
          description: App IDs.
          items:
            type: string
        components:
          type: array
          description: Path components.
          items:
            type: string
    AddPasskey:
      type: object
      description: Passkey registration payload from `navigator.credentials.create`.
      properties:
        id:
          type: string
          description: Credential identifier encoded in Base64URL.
        rawId:
          type: string
          description: Raw credential identifier in Base64URL format.
        type:
          type: string
          description: Credential type reported by the browser.
        response:
          $ref: '#/components/schemas/AuthenticatorAttestation'
      required:
        - id
        - rawId
        - type
        - response
    AuthenticatorAttestation:
      type: object
      description: Authenticator attestation response.
      properties:
        clientDataJSON:
          type: string
          description: Client Data JSON.
        attestationObject:
          type: string
          description: Attestation Object.
      required:
        - clientDataJSON
        - attestationObject
    AuthenticatorAssertion:
      type: object
      description: Authenticator assertion response for passkey authentication.
      properties:
        clientDataJSON:
          type: string
          description: Client Data JSON.
        authenticatorData:
          type: string
          description: Authenticator data returned by the authenticator.
        signature:
          type: string
          description: Signature generated by the authenticator.
        userHandle:
          type: string
          description: Base64URL-encoded user handle.
        attestationObject:
          type: string
          description: Base64URL-encoded user handle.
      required:
        - clientDataJSON
        - authenticatorData
        - signature
    CreatePasskeyTokenRequest:
      type: object
      description: Passkey authentication payload from `navigator.credentials.get`.
      properties:
        challenge:
          type: string
          description: Base64URL-encoded challenge issued by the server.
        id:
          type: string
          description: Credential identifier encoded in Base64URL.
        rawId:
          type: string
          description: Raw credential identifier in Base64URL format.
        type:
          type: string
          description: Credential type reported by the browser.
        authenticatorAttachment:
          type: string
          description: Authenticator attachment modality, when available.
        response:
          $ref: '#/components/schemas/AuthenticatorAssertion'
      required:
        - challenge
        - id
        - rawId
        - type
        - response
    CreateEmailTokenRequest:
      type: object
      description: Email authentication payload
      properties:
        challenge:
          type: string
          description: Base64URL-encoded challenge issued by the server.
        email:
          type: string
          format: email
          description: Email address used for OTP authentication.
        otp:
          type: string
          description: One-time password sent to the email address.
      required:
        - challenge
        - email
        - otp
    ConfirmEmailRequest:
      type: object
      description: Email verification payload.
      properties:
        email:
          type: string
          format: email
          description: Email address being verified for the authenticated user.
        otp:
          type: string
          description: One-time password sent to the email address.
      required:
        - email
        - otp
